*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#f6d6e6,rgb(242, 170, 255));
}
.con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car{
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.car h1{
    font-size: 32px;
    margin-bottom: 8px;
}
.sub{
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}
/* image */
.box img{ 
    width: 220px;
    border-radius: 15px;
}
.text{
    margin-top: 15px;
    font-size: 16px;
}