*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#ffd6e8,#ffeef6);
}
/* card */
.car{
    background: #fff;
    padding: 40px;
    width: 420px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
}

h1{
    font-size: 28px;
    margin-bottom: 10px;
}

.sub{
    color: gray;
    font-size: 14px;
    margin-bottom: 30px;
}
/* buttons */
.buttons{
    position: relative;
    height: 60px;
}

button{
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.yes{
    background: #fe6687;
    color: white;
    box-shadow: 0 4px 12px rgba(255,77,115,0.5);
    left: 220px ;
}
.yes:hover{
    transform: scale(1,1);
}
.No{
    background: #eee;
    left: 220px;
}
#message{
    margin-top: 20px;
    font-size: 16px;
    color: #ff4d73;
}
